
{% extends 'main.html' %}
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static '/css/singlefile.css' %}" />
<main>
  <div class="btn-group">
    <button class="btn btn-red">
      <a class="red">Convert to HTML Readable File</a>
    </button>
  </div>
  <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
  <div class="canvas">
    
    <div class="drop-zone">
      <span class="prompt big"
        >Drag and drop <br />
        <span class="prompt small">  your file here or click here to upload your file</span
        ></span
      >
      <input type="file"  name="singlefile" class="input" />
    </div>
    <div>
          {% if url %}
      <p><a target="_blank" href="{{ url }}">  File: {{ url }} </a></p>
      {% endif %}
      {% if url2 %}
      <p><a href="{{ url2 }}">  File2: {{ url2 }} </a></p>
      {% endif %}
    </div>
  </div>
  <div class="bottom">
    <div class="btn-group">
      <button type="submit" name="convert" class="btn btn-red com">Convert to HTML</button>
      
      </form>
      <button type="menu" ></button>
      
      <div class="dropdown">
    
      </div></main>  
{% endblock content %}
<!-- <script src="{% static '/js/singl.js' %}"></script> -->
<!-- <select name="select" id="select">
          <option value="weorkbook1" selected>
            Select workbook to compare
          </option>
          <option value="Workbook1">Workbook 1</option>
          <option value="Workbook2">Workbook 2</option>
          <option value="workbook3">Workbook 3</option>
          <option value="workbook4">Workbook 4</option>
          <option value="Workbook5">Workbook 5</option>
        </select> -->