{% extends 'main.html' %} {% block content %} {% load static %}
<title>Feature Selection</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/css/featureselect.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/>

<main>
  <div class="btn-group"></div>
  <div class="placeholder">
    <div class="drop-zone">
      <span class="prompt big"> Preview of file</span>
      <input type="file" name="file" class="input" />
    </div>
    <div class="drop-zone">
      <span class="prompt big"> Preview of file</span>
      <input type="file" name="file" class="input" />
    </div>
  </div>

  <form action="/action_page.php">
    <div class="features">
      <div>
        <input type="radio" id="hlsingle" name="duplicates" value="Highlight" />
        <label for="hlSingle">Highlight duplicates in single file</label
        ><br /><br />
        <input
          type="radio"
          id="removeSingle"
          name="duplicates"
          value="RemoveSingle"
        />
        <label for="removeSingle"
          >Remove duplicates and return a single file</label
        ><br /><br />
        <input
          type="radio"
          id="removeTwo"
          name="duplicates"
          value="RemoveTwo"
        />
        <label for="removeTwo">Remove duplicates and return two files</label
        ><br /><br />

        <input type="radio" id="hlTwo" name="duplicates" value="HighlightTwo" />
        <label for="hlTwo">Highlight duplicates and return two files</label>
      </div>
      <br /><br /><br /><br />
      <div>
        <input type="radio" id="summaryTop" name="summary" value="Top" />
        <label for="summaryTop">Include summary at top of page</label
        ><br /><br />
        <input type="radio" id="summaryBottom" name="summary" value="Bottom" />
        <label for="summaryBottom">Include summary at bottom of page</label
        ><br /><br />
        <input type="radio" id="summarySide" name="summary" value="Side" />
        <label for="age3">Include summary at side of page</label><br /><br />
        <input type="radio" id="noSummary" name="summary" value="Non" />
        <label for="age3">Don't include page summary</label>
      </div>
    </div>
  </form>

  <div class="bottom">
    <div class="btn-group">
      <button type="submit" class="btn btn-red com">
        <a class="red" href="">Save to libarary</a>
      </button>
      <button type="submit" class="btn btn-red com">
        <a class="red" href="">Download</a>
      </button>
    </div>
  </div>
</main>
<script src="{% static '/js/singlefile.js' %}"></script>
{% endblock %}
