<title>About Us</title>
{% extends 'main.html' %}{% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/mission.css' %}" />
<main>
  <div class="section">
    <div class="container">
      <div class="aucontent">
        <div class="article">
          <h3>Our Mission</h3>
          <strong
            ><p>
              “Our mission is to put a smile on the face of Excel users all<br />
              over the worrd, by providing a friendly and easy way to<br />
              Compare and Convert, saves time and speeds up their<br />
              work in Excel”
            </p></strong
          >
          <button class="button">
            <a href="{% url 'contact' %}">Drop a Message</a>
          </button>
        </div>
      </div>
      <div class="image-section">
        <img src="{% static '/images/ourmission.png' %}" alt="image" />
      </div>
      <div class="socials">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
