{% load custom_tags %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/nav.css' %}" />
<!-- <link rel="stylesheet" href="./static/css/nav.css" /> -->

<nav>
  <ul class="ztnav">
    <li class="ztlogo">
      <a href="#"></a><img src="{% static '/images/logo svg.svg' %}" alt="" />
    </li>
    {% if request.user.is_authenticated %}
    <li class="ztitem"><a href="{% url 'dashboard' %}">Home</a></li>
    <li class="ztitem"><a href="{% url 'singlefile' %}">Compare</a></li>
    <li class="ztitem"><a href="{% url 'dashboard' %}">Convert</a></li>
    <li class="ztitem"><a href="{% url 'library' %}">Files Library</a></li>

    {% else %}
    <li class="ztitem"><a href="{% url 'home' %}">Home</a></li>
    <li class="ztitem">
      <a href="{% anchor 'home' 'zthomefeatures' %}">Features</a>
    </li>
    <li class="ztitem">
      <a href="{% anchor 'home' 'zthowtouse' %}">How to Use</a>
    </li>
    <li class="ztitem"><a href="{% url 'contact' %}">Contact Us</a></li>
    {% endif %}

    <li class="ztbutton sec"><a href="{% url 'faq' %}">FAQ</a></li>
    {% if request.user.is_authenticated %}

    <li class=" ">
      <a href="#">
        <img
          src="{% static '/images/notification.svg' %}"
          alt="Notifications"
        />
      </a>
    </li>
    <li class=" ">
      <a href="#">
        <img
          class="ztprofile-icon"
          src="http:///unsplash.it/36/36?gravity=center"
          alt=""
        />
      </a>
    </li>
    <li class=" ">
      <div class="ztdropdown">
        <button class="ztdropbttn">
          Hello, {{ request.user }}
          <img src="{% static '/images/arrow.svg' %}" alt="" />
        </button>
        <div class="ztdropdown-content">
          <a href="{% url 'customer' %}">My Account</a>
          <a href="{% anchor 'dashboard' 'zthowtouse' %}">How to Use</a>
          <a href="{% anchor 'dashboard' 'zthomefeatures' %}">Features</a>
          <a href="{% url 'aboutus' %}">About Us</a>
          <a href="{% url 'contact' %}">Contact Us</a>
          <a href="{% url 'contact' %}">Mission Statement</a>
          <a href="#">Protect File</a>
          <a href="{% url 'terms' %}">Terms and <br />Conditions</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </li>

    {% else %}
    <li class="ztbutton sec"><a href="{% url 'login' %}">Sign In</a></li>
    <li class="ztbutton reg"><a href="{% url 'signup' %}">Register now</a></li>

    {% endif %}
  </ul>
</nav>
