main {
  width: 100%;
  text-align: justify;
  left: 30px;
  padding-right: 40px;
  font-family: "Poppins";
  font-style: normal;
}
p,
li {
  color: #394a60;
}
h1 {
  font-size: 36px;
  text-align: center;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
strong {
  line-height: 42px;
  color: black;
}
#date {
  text-align: center;
  line-height: 82px;
}
#feedform {
  background: #e2e4fd;
  margin: 80px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 794px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
#feedform > h1 {
  padding-bottom: 20px;
}
#feedform > p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
form {
  margin: auto 200px;
}
#feedname,
#feedmail {
  padding: 12px;
  gap: 10px;

  width: 400px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #d8d7d7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
#feedmsg {
  padding: 12px;
  gap: 10px;

  width: 400px;
  height: 152px;

  background: #ffffff;
  border: 1px solid #d8d7d7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#feedbtn {
  /* Primary Button */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.04em;
  width: 180px;
  height: 40px;

  /* DATASYNC/button linear */

  background: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
