@import url(http://fonts.googleapis.com/css2?family=poppins:wght@200;300;400&display=swap);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section {
  width: 100%;
}

.section .container {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
}

.container .socials {
  width: 100%;
  clear: both;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
}

.container .socials i {
  color: #fff;
  font-size: 22px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  background-color: #ef220b;
  margin: 0px 5px;
}

.container .socials i:hover {
  color: #fff;
  background-color: #ef220b;
  transition: 1s ease;
  transform: rotate(360deg);
}

.aucontent {
  float: left;
  width: 55%;
  margin-top: 100px;
}

.image-section {
  float: right;
  width: 45%;
}

.image-section img {
  width: 100%;
  height: auto;
}

.aucontent .article h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  background: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.aucontent .article p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #394a60;
}

.aucontent .article .button {
  margin-top: 50px;
  margin-left: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid;
  border-color: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
}

.aucontent .article .button a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.aucontent .article .button a:hover {
  color: #fff;
  background-color: #ef220b;
  transition: 1s ease;
}

@media screen and (max-width: 768px) {
  .section .container {
    width: 80%;
    display: block;
    margin: auto;
  }

  .content {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;
    margin-top: 50px;
  }

  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .container .title {
    text-align: center;
    font-size: 30px;
  }

  .container .article .button {
    text-align: center;
  }

  .container .article .button a {
    padding: 6px 15px;
    font-size: 16px;
  }

  .container .socials i {
    font-size: 19px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}
