@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.nav {
  background-color: rgb(212, 200, 212);
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}

.nav li {
  font-size: 16px;
  padding: 15px 5px;
}
.nav li a {
  display: block;
}
nav .sec a {
  color: #ce1949;
}
nav .item a {
  color: #ce1949;
}

.logo a {
  font-size: 20px;
  width: 10%;
  margin-left: 10%;
}

.button a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  background: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
  border: 2px solid #ce1949;
  border-radius: 4px;
}
.button.sec a {
  background: transparent;
}
.button a:hover {
  background: rgb(184, 183, 183);
  border-color: rgb(184, 183, 183);
  transition: all 0.25s;
  opacity: 1px;
}

.dropbttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  gap: 8px;
  width: 200px;
  height: 28px;
  background: none;
  font-style: normal;
  font-weight: 400;
  border: none;
}

.dropdown {
  float: left;
  font-weight: 400;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
  gap: 8px;
  background: #ffffff;
  border-radius: 0px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.ztdropdown-content a:hover {
  background-color: #ddd;
}

.ztdropdown:hover .dropdown-content {
  display: block;
}
