@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    background: #F2F3F8;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #010204;
    text-align: center;
    margin: 40px;
}

.faq-section {
    width: 85%;
    margin: auto;
}

.faq-section .dropdown {
    box-sizing: border-box;
    width: 100%;
    height: 111px;
    background: #F2F3F8;
    border: 1px solid #757474;
    border-radius: 16px;
    padding-top: 28px;
    margin-bottom: 90px;
}

.faq-section .dropdown-content {
    width: 95%;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #757474;
    border-bottom: 1px solid #D9D9D9;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.faq-section .dropbttn {
    position: absolute;
    justify-content: center;
    align-items: justify;
    padding: 0px 18px;
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

.dropbttn p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #010204;
}

.dropdown:hover .dropdown-content {
    display: block;
}