@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 50px 35%;
}
.btn-group .btn {
  width: 45%;
  height: 40px;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 5px;
}
.btn-group .btn a {
  text-decoration: none;
  font-size: 15px;
}
.btn-red {
  background: linear-gradient(85.8deg, #81365f -15.76%, #ce1949 73.17%);
}
.btn-red .red {
  color: white;
}
.btn-white .white {
  color: #ce1949;
}
.canvas {
  background-color: rgb(212, 200, 212);
  width: 30%;
  height: 300px;
  margin-left: 35%;
  padding-top: 2px;
}
.drop-zone {
  max-width: 95%;
  height: 150px;
  background-color: white;
  margin: 10px;
  border: 2px dashed #ce1949;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #a19f9f;
}
.drop-zone-over {
  border-style: solid;
}
.input {
  display: none;
}
.drop-zone .big {
  font-size: 30px;
}
.drop-zone .small {
  font-size: 20px;
}
.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.thumbnail::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
}
.bottom {
  height: 150px;
}
.btn-group .com {
  margin: 1px 2%;
}
.dropdown #select {
  height: 40px;
  border: 1px solid #ce1949;
}

.icons {
  font-size: 20px;
  color: #ce1949;
  width: 35%;
  margin: 1px 35%;
}

.icons i {
  margin-left: 10px;
  margin-top: 20px;
}

.user-group i {
  font-size: 25px;
  margin-left: 20px;
  color: #6d6c6c;
}
