{% extends 'main.html' %} {% block content %}{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/contact.css' %}" />
<main>
  <div id="feedform">
    <h1>Get in Touch with us</h1>
    <p>Fill out the following form to send us message</p>
    <br />
    <form action="">
      <label for="feedname">NAME</label><br />
      <input
        type="text"
        name="feedname"
        id="feedname"
        placeholder="Proj_Team_108"
        required
      /><br />
      <label for="feedmail">EMAIL</label><br />
      <input
        type="email"
        name="feedmail"
        id="feedmail"
        placeholder="Proj_Team_108"
        required
      />
      <br />
      <label for="feedmsg">MESSAGE</label><br />
      <textarea
        name="feedmsg"
        id="feedmsg"
        cols="50"
        rows="9"
        width="400"
        placeholder="Message"
      ></textarea
      ><br />
      <input id="feedbtn" type="button" value="Send Message" />
    </form>
  </div>
</main>
{% endblock content %}
