{% block content %} {% load static %}
<link rel="stylesheet" href="{% static '/css/singlefile.css' %}" />
<main>
  <div class="btn-group">
    <button class="btn btn-red">
      <a class="red" href="">Single File</a>
    </button>
    <button class="btn btn-white">
      <a class="white" href="{% url 'multifiles' %}">Multiple Files</a>
    </button>
  </div>
  <div class="canvas">
    <div class="drop-zone">
      <span class="prompt big"
        >Drag and drop <br />
        <span class="prompt small"
          >you file here or click here to upload your file</span
        ></span
      >
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
      <input type="file"  name="singlefile" class="input" />
    </div>
    <div class="icons">
      <i class="fa-brands fa-dropbox"></i>
      <i class="fa-solid fa-link"></i>
      <i class="fa-brands fa-google-drive"></i>
    </div>
  </div>
  <div class="bottom">
    <div class="btn-group">
      <button type="submit" class="btn btn-red com">Compare Files</button>
      </form>
      
      <div class="dropdown">
        {% if url %}
      <p>Converted File: <a href="{{ url }}"> {{ url }} </a> </p>
      {% endif %}
        <select name="select" id="select">
          <option value="weorkbook1" selected>
            Select workbook to compare
          </option>
          <option value="Workbook1">Workbook 1</option>
          <option value="Workbook2">Workbook 2</option>
          <option value="workbook3">Workbook 3</option>
          <option value="workbook4">Workbook 4</option>
          <option value="Workbook5">Workbook 5</option>
        </select>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
<script src="{% static '/js/singlefile.js' %}"></script>
